@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');




.App {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  background: #fff;

 
}

.App > .Header {
  grid-column: 1 / span 12;
  grid-row: 1;
}
.App > .Main {
  grid-column: 1 / span 12;
  grid-row: 2;
}
.App > .Footer {
  grid-column: 1 / span 12;
  grid-row: 3;
}




.Header {
  grid-row: 1;
  grid-column: 1;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 3rem 1rem 3rem;
  position:sticky;
  top:0;
  z-index: 1000;
  gap: 2rem;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(8px);
  background-color: #ffffff69;
}
.Header img {
  width: 20rem;
  height: auto;
}
.Nav ul {
  display: flex;
  gap: 2rem;

}

.Nav ul li {
   transition: background-color 0.3s ease;

   
}

.Nav ul li:hover {
  background-color: #f4ce14;
  border-radius: 0.5rem;
}

.Nav ul a{
  color: #333333;
  font-weight: 700;
  text-decoration: none;
  font-size: 1.2rem;
}

.hero-text h1, .hero-text h2, .hero-text p {
  margin: 0;
}

.Main {
   display : flex;
    flex-direction: column;

}

.hero {
  display:flex;
  justify-content: center;
  padding-left :10rem;
  padding-right: 10rem;
  background-color: #495E57;
  margin-bottom:7rem;
}

.hero-text {
  max-width: 40%;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;

}
.hero-text h1 {
  font-family: 'Markazi Text', serif;
  font-size: 3rem;
  color: #f4ce14;
  font-weight: bold;
}
.hero-text h2 {
  font-family: 'Karla', sans-serif;
  font-size: 2rem;
  color: #EDEFEE;
  font-weight: 700;
}
.hero-text p {
  font-family: 'Karla', sans-serif;
  color: #EDEFEE;
  font-size: 1.2rem;
}

.btn {
  background-color: #f4ce14;
  color: #333333;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 1rem;
  font-weight: 700;
  border : 0.2rem solid #333333;
  transition: background 0.3s ease , color 0.3s ease;
  }
  .btn:hover {
  background-color: #EE9972;
  color: #fff;
  border-color:#333333;
  }

.btn .button-link {
  color: #333333;
  text-decoration: none;
}


.hero img {
  width: 20rem;
  height: 20rem;
  border-radius: 1rem;
  object-fit: cover;
  position: relative;
  right: -2rem; 
  top:2rem;
  box-shadow: 0 4px 24px rgba(0,0,0,0.15);
  background: #fff;
}

.specials {
 display:flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.specials-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  padding: 1rem 3rem;
}
.specials-header h2 {
  font-family: 'Karla', sans-serif;
  color: #333333;
  font-size: 2rem;
  font-weight: bold
}

.specials-cards {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
  flex-wrap: wrap;
  
}


.specials-cards article {
  background: #EDEFEE;
  border-radius: 1rem;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 250px;
  max-width: 350px;
  color: #333333;
  
  min-height: 400px;
  margin-bottom: 1rem;
 
 
}

.specials-cards article >img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  margin-bottom: 1rem;
  display: block;
}
.specials-cards h3 {
  
  font-size: 1.5rem;
  font-weight: bold;
}

.specials-cards span {
  font-weight: bold;
  color: #f4ce14;
  margin-left:1rem;
}
.specials-cards p {
  flex: 1;
  margin-bottom: 1rem;
  font-size:1.2rem;
}

.specials-cards a {
  color: #495E57;
  font-weight: bold;
  text-decoration: none;
  padding: 0.5rem 0;
  font-size: 1.2rem;
}

.specials-card-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1; 
  height: 100%; 
  align-items: flex-start;
  padding: 1rem;
}



.ratings {
  grid-row: 3;
  background: #eaeaea;
  padding: 2rem 3rem;
}

.ratings-cards {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
  flex-wrap: wrap;
}

.rating-card {
  background: #fff;
  border-radius: 0.5rem;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about {
  
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem 5rem;
  gap: 2rem;
  
}

.about-content {
  display: flex;
  justify-content: flex-start;
  flex-direction: column; 
  align-items: center;
  gap: 3rem;
  width: 100%;
  max-width: 1200px;
  
}
.about-content h2 {

  color: #333333;
  font-size: 3rem;
  font-weight: bold;
}

.about-content p {
  justify-self: center;
  align-self: start;
  font-size: 1.5rem;
}
.about-carousel{
  width: 100%;
  max-width: 100%;
  margin : 0 auto;
}

.about-carousel img {
  width: 100%;
  height: 500px;
  object-fit:cover;
  border-radius: 1rem;
}



.Footer {
  
  background: #495E57;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap:-2rem;
  padding: 2rem 3rem;
}

.footer-col {
  flex: 1;
  margin: 0 1rem;
  justify-self: center;
  width: 100%;

  
 
}

.footer-img {
  width: 6rem;
  height: 9rem;
  margin: 1rem auto;
}

.footer-img img {
  width: 100%;
  height: 100%;
}

.Footer h5 {
  margin-bottom: 1rem;
  font-size: 1.8rem;
  
}

.Footer ul {
  list-style: none;
  padding: 0;
  
}

.Footer li {
  margin-bottom: 0.5rem;
  
}

.Footer a {
  color: #EDEFEE;
  text-decoration: none;
  font-size: 1.2rem;
}

@media(max-width: 900px) {
  .Header{
    padding: 1rem;
    flex-direction: column;
    align-items: flex-start;
  }

  .Header img {
    width:10rem;
  }
}

@media (max-width: 768px) {
  .App {
    grid-template-rows: auto auto 1fr auto;
  }
  .Header,
  .Footer,
  .about,
  .specials,
  .ratings {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .Header {
    justify-content: space-between;
    padding: 1rem;
    position:relative;
    flex-direction: row-reverse;
  }
  .Header img {
    width: 10rem;
    height: auto;
    align-self: start;
  }

  button.mobile-nav-toggle {
     display: flex;
     flex-direction: column;
     justify-content: center;
     gap: 0.25rem;
     background: transparent;
     width: 2rem;
      height: 2rem;
      border: none;
      cursor: pointer;
      z-index: 1001;
   }

  .mobile-nav-toggle img {
    width: 2rem;
    height: 2rem;
    
  }
  .mobile-nav-links{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;
    padding: 0.25rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    z-index: 1000;
  
  }
  
  .mobile-nav-links.hidden {
    display: none;
  }
  
  
.mobile-nav-toggle.open img {
    width: 2rem;
    height: 2rem;
  }
  .mobile-nav-links {
    position: relative;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;
    padding: 0.25rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    z-index: 1000;
 }

    
  
  .mobile-nav-links ul{
    display: block;
    height: 0.25rem;
    width: 100%;
    color:#333333;
    font-weight: bold;
    border-radius: 0.15rem;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }
 .mobile-nav-links li a {
    color: #333333;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.2rem;
  }

 
  .mobile-nav-links li:hover{
    background: #f4ce14;
    transition: 500ms;
  }

  .hero {
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem 1rem;
    
  }
  .hero img {
   display: none;
  }

  .hero-text {
    max-width: 100%;
    text-align: center;
    gap:0.5rem;
  }
  .specials-cards,
  .ratings-cards {
    flex-direction: column;
    gap: 1rem;
  }
  .specials-cards article,
  .rating-card {
    min-width: 0;
    width: 100%;
  }
  .about-images {
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
  }
  .about-img {
    width: 80px;
    height: 80px;
  }
  .footer-col {
    margin: 1rem 0;
  }
}

