.Nav ul {
  display: flex;
  gap: 2rem;

}


.Nav ul a{
  color: #333333;
  font-weight: 700;
  text-decoration: none;
  font-size: 1.5rem;
  transition: border-bottom  0.5s ease-out;
  border-bottom: 0.25rem solid transparent;
  
}

.Nav ul li a:focus {
   outline:none;
}
.Nav ul li a:hover {
  border-bottom-color:  #f4ce14;
}

.Nav  img {
  max-width: 2rem;
  max-height: 2rem;
  vertical-align: middle;
}